<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Usersettings test project</title>
</head>
<body>
  <h1>Test project for django-usersettings</h1>
  <p>This is a very minimal application that shows the most default setup of django-usersettings.</p>
  <ul>
    <li><a href="{% url admin:index %}">The django builtin admin</a></li>
    <li><a href="{% url usersettings:index %}">The usersettings pages</a></li>
  </ul>
  <p>To customize this app to your specific needs, please visit the documentation for all the options available.</p>
</body> 
</html> 
